.blog img {
  width: 100%;
  height: 100%;
}

.blog .text {
  padding: 2.6rem 1.8rem;
}

.blog h1 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.3;
  margin: 1.2rem 0;
  transition: all 0.5s ease;
  cursor: pointer;
}

.blog h1:hover {
  color: #1eb2a6;
}

.blog span {
  text-transform: uppercase;
  font-weight: 500;
  color: #1eb2a6;
}

.blog span label {
  margin-left: 0.6rem;
  color: grey;
  font: 0.9rem;
}

.blog span:nth-last-child(1) label {
  color: #1eb2a6;
}

.blog p {
  color: grey;
}
